.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
node_modules/**
.agents
.claude
.opencode
.trae
.sisyphus
debug-sample/**
openspec/**
samples/**
.vscode-test.js
AGENTS.md
CLAUDE.md
copyWebviewAssets.mjs
